@import url("https://fonts.googleapis.com/css2?family=Poppins");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 10rem 0; */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#hex
{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px solid black;
}

#copyBtn
{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1.1rem;
}

#generateBtn
{
    padding: 8px 12px;
    background: #111;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 10px;
    transition: 0.2s;
    border: 2px solid #111;
}

#resetBtn
{
    padding: 8px 12px;
    font-size: 1.8rem;
    margin-top: 30px;
    background: #ececec;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 10px;
    width: 200px;
    user-select: none;
}

#resetBtn:hover
{
    box-shadow: 0px 0px 11px 2px black;
    color: #ececec;
    background: #111;
    border-color: #ececec;

}

#generateBtn:hover
{
    transition: 0.2s;
    box-shadow: 0px 0px 11px 2px black;
    background: #ececec;
    color: black;
}
